{% extends "base.html" %}

{% block content %}

<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body>
    <div class="text-center">
        <img src="static/main_page.jpg" alt="Search Logo" width=20%>
    </div>
    <br><br>
    <h1 class="title">
        Image Search
    </h1>
    <br>
    <h2 class="subtitle">
        AI-based image search engine using Transfer Learning with VGG16
    </h2>
    <br>
    <a href="{{ url_for('auth.login') }}" role="button" class="btn btn-outline-dark btn-lg">Login</a>

</body>
{% endblock %}