{% extends "sidebar.html" %}
{% block content %}

<!doctype html>
<html>

<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body>
    <section class="jumbotron text-center">
        <div class="container">
            <h1 class="jumbotron heading">Image Searching Tool</h1>

            <div class="text-center">
                <img src="static/search_logo.png" class="img-responsive" alt=" Search Logo" width=20%>
            </div>

            <p class="lead text-muted">
                <br>
                Select an image from your computer and search for similar images.
            </p>

            <form method="POST" enctype="multipart/form-data">
                <div>
                    <input class="form-control form-control-lg" id="image1" name="query_img" type="file">
                    <br>
                    <input class="btn btn-secondary btn-lg" type="submit" value="Submit">
                </div>
            </form>

    </section>

    <h2>Given Image:</h2>
    {% if query_path %}
    <img src="{{ query_path }}" width="300px">
    {% endif %}

    <h2>Results:</h2>
    {% for score in scores %}
    <figure style="float: left; margin-right: 20px; margin-bottom: 20px;">
        <img src="{{ score[1] }}" height="200px">
        <figcaption>{{ score[0] }}</figcaption>
    </figure>
    {% endfor %}
    </div>
</body>

</html>
{% endblock %}